<!Doctype html>
<html>
<head>
    <title>Registration</title>
    <script></script>
</head>
<body>
    
    <link rel="stylesheet" href="/css/style.css">
    <main>
        <div class="form-container">
            <h1>Create Account</h1>
            <p></p>
            <form id="register-form">
                <label for="user" class="sr-only">User: </label>
                <input type="text" name="user" id="user" placeholder="User Name">
                <label for="password" class="sr-only">Password: </label>
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="submit">Login</button>
                <p class="error hidden">Something happened, try again</p>
                <p><a href="/">Login</a></p>
            </form>
        </div>
    </main>
    <script src="register.js" defer></script>

</body>
</html>
